<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cancer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        android:theme="@style/Theme.Cancer">
        <activity
            android:name=".TypeOfCancer6ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer5ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer4ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer6Activity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer5Activity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer4Activity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer3ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer3Activity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer2ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer2Activity"
            android:exported="false" />
        <activity
            android:name=".EditRecordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MyRecordActivity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer1ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TypeOfCancer1Activity"
            android:exported="false" />
        <activity
            android:name=".MyRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".CreatingRecordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TypesOfCancerActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>